@charset "utf-8";

body {
  margin: 0px;
  background: #dbedf0;
  color: #330000;
}

hi {
  font-family: Verdana, 'Arial Black', メイリオ, sans-serif;
}

.page-header {
  display: flex;
  justify-content: space-between;
  background-color: #dbedf0;
}

header h1 {
  font-size: 36px;
  padding-bottom: 8px;
  /* border-bottom: 3px solid #ddd; */
  text-align: left;
  margin-left: 10px;
  color: #330000;
  margin: 0%;
}
.main-nav {
  display: flex;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  color: #330000;
}

.main-nav li {
  margin-left: 36px;
  cursor: pointer;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  background-color: #dbedf0;;
}


.movei-content {
  position: relative;
  display: inline-block;
  margin: 0%;
}

.movei-content video {
  width: 100%;
} 

.table-center video {
  position: relative;
  margin: 0%;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
}

/* .table-center {
  display: table;
  width: 100%;
  position: relative;
  height: 100%;
}

.table-center > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  text-align: center;
}

.table-center > div p {
  color: #fff;
  text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px;
  font-size: 2em;
  font-weight: 600;
} */

section {
    margin-bottom:100px;
}

h1 {
  font-size: 30px;
  padding-top: 8px;
  text-align: center;
}

.main h1 {
  text-decoration: underline;
  border-width: 3px;
}

.main-text {
  text-align: center;
  font-size: 20px;
}

li {
  list-style-position: inside;
  list-style: none;
}

.container {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 30%;
  cursor: pointer;
}

.box a {
  text-decoration: none;
}

.box1 {
  background-color: #80a491;
  margin-left: 50px;
  line-height: 300px;
  color: #330000;
  font-weight: bold;
  font-size: 30px;
}

.box2 {
  background-color: #80a491;
  line-height: 300px;
  color: #330000;
  font-weight: bold;
  font-size: 30px;
}

.box3 {
  background-color: #80a491;
  margin-right: 50px;
  line-height: 300px;
  color: #330000;
  font-weight: bold;
  font-size: 30px;
}

section:nth-child(even) {
  flex-direction: row-reverse;
}

.access {
  display: flex;
}

.access-pic {
  margin-right: 32px;
}

.access-text p {
  font-size: 20px;
}

.recruit {
  display: flex;
}

.recruit-pic {
  margin-right: 0px;
  order: 3;
}

.recruit-text {
  margin-right: 0px;
  font-size: 20px;
  order: 2;
}

.clear {
  order: 1;
  color: #dbedf0;
}

.btn {
  width: 150px;
  padding: 8px;
  color: #330000;
  border-radius: 4px;
  text-align: center;
  background: #80a491;
  margin: 30px auto;
  cursor: pointer;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
}